@model string


<div class="row" style="padding-bottom: 2rem;">
    <div class="herobox d-none d-sm-block">
        <div style="position: relative;">
            <div style="left: 0; position: absolute; top: 0; z-index: 498;">
                <img src="/img/@Model" alt="" class="heroimg">
            </div>
            <div style="left: 0; position: absolute; top: 0; z-index: 499;">
                <img src="/img/mainpic_overlay.png" class="heroimg" alt="">
            </div>
            <div style="left: 0; position: absolute; top: 0; z-index: 500;" class="herotext">
                Ihr Ferienhaus<br>&nbsp;&nbsp;&nbsp;in der Oberlausitz
            </div>
        </div>
    </div>    
    
    <div class="d-block d-sm-none">
        <img src="/img/@Model" style="width: 100%;" alt="">
    </div>
</div>