@page
@model ErrorModel
@{
    ViewData["Title"] = "Fehler";
}

@Html.Partial("_HeroImage", "mainpic_1.jpg")

<p style="padding-top: 5em; padding-bottom: 5em; text-align: center">
    Es ist ein Fehler aufgetreten. Bitte versuchen Sie es zu einem späteren Zeitpunkt erneut.<br />
    <br />
    <a asp-page="./Index">Zurück zur Startseite</a>
</p>


