@page

@await Html.PartialAsync("_HeroImage", "mainpic_1.jpg")

<div class="row">
    <div class="col-12" style="text-align: center">
        <br />
        Willkommen auf der Internetseite des Görlitzer Ferienhauses.<br />
        Idyllisch - harmonisch - malerisch - verträumt<br />
        <br />
        Das individuell und modern eingerichtete Ferienhaus bietet mit seinen 60 m² Wohnfläche genügend Platz für eine erholsame und unvergessliche Zeit direkt in der Niederschlesischen-Oberlausitz. Egal ob Sie nur ein paar Tage übernachten wollen oder ihren Urlaub planen, bei uns sind Sie genau richtig.<br />
        <br />
        <br />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="line_hor"></div>
    </div>
</div>

<div style="height: 40px"></div>

<div class="row">
    <div class="col-sm-6">
        <div style="float: left;">
            <img src="/img/home.png" style="float: left" alt=""><div class="boxtitle">Ausstattung</div>
            <br>
            <ul class="sublist">
                <li>Küche</li>
                <li>Bad</li>
                <li>2 Wohnräume</li>
                <li>1 Schlafzimmer</li>
                <li>Wintergarten in Süd / Ostlage</li>
                <li>Spiel-, und Liegewiese</li>
                <li>PKW-Stellplatz</li>
            </ul>
            <p class="morelink">
                <a asp-page="./AboutUs">Weitere Details...</a>
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <div style="float: left;">
            <img src="/img/price.png" style="float: left" alt=""><div class="boxtitle">Preise</div>
            <br>
            <ul class="sublist">
                <li>1 Pers. 40,00 €/Nacht (Selbstverpflegung)</li>
                <li>2 Pers. 60,00 €/Nacht (Selbstverpflegung)</li>
                <li>Jede weitere Person 10,00 €/Nacht</li>
                <li>Endreinigung: 15,00 €</li>
            </ul>
            <p class="morelink">
                <a asp-page="./Contact">Zur Reservierung...</a>
            </p>
        </div>
    </div>
</div>

<div style="height: 40px"></div>